.form-login {
  background-color: rgba(149, 146, 146, 0.4);
  height: 300px;
  padding: 40px;
  width: 300px;
}

.login {
  background-image: url('../assets/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
