.form-login {
  background-color: rgba(255, 196, 119, 0.555);
  border-radius: 0.5rem;
  box-shadow: 3px 4px 4px #4b2004;
  height: 300px;
  padding: 40px;
  width: 300px;
}

.form-control {
  box-shadow: 2px 4px 4px #4b2004;
}

.login {
  background-image: url('../images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 4px #4b2004;
  height: 100vh;
  width: 100vw;
}

.btn-primary {
  background-color: rgb(252, 145, 74);
  border-color: rgb(255, 193, 151);
  box-shadow: 2px 4px 4px #4b2004;
  color: rgb(34, 17, 2);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: rgba(82, 82, 82, 0.61);
  border-color: #cecece;
  color: white;
}
