.profile-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.profile-email {
  color: black;
  display: flex;
  font-family: Dancing Script , cursive;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  text-shadow: 1px 1px rgba(92, 46, 15, 0.247);
}

.profile-button {
  align-items: center;
  background-color: rgb(252, 145, 74);
  border-color: rgb(255, 193, 151);
  border-radius: 10px;
  box-shadow: 0.1px 2px 2px #4d240aa4;
  display: flex;
  font-family: Dancing Script , cursive;
  font-size: 28px;
  height: 53px;
  justify-content: center;
  line-height: 53px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 329px;
}
