.drink-buttons {
  background-color: rgb(252, 145, 74);
  border-color: rgb(255, 193, 151);
  border-radius: 10px;
  box-shadow: 0.1px 2px 2px #4d240aa4;
  font-family: Dancing Script , cursive;
  margin: 2px;
  margin-bottom: 10px;
  padding: 4px 6px;
}

.buttons-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
