.header__user {
  align-items: center;
  background-color: rgb(252, 145, 74);
  box-shadow: 0.1px 2px 2px #4d240aa4;
  color: black;
  display: flex;
  font-family: Dancing Script , cursive;
  justify-content: space-around;
  position: absolute;
  text-shadow: 0.1px 2px 2px #4d240aa4;
  top: 0;
  width: 100%;
}

.header__user button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
