.header__user {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__user button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }